.searchIcon {
  width: 10px;
  color: #8f8f8f;
  padding: 0 6px;
}

@media only screen and (min-width: 600px) {
  .searchIcon {
    width: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .searchIcon {
    width: 20px;
  }
}
