.pageWrapper {
  display: flex;
  flex-direction: column;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton,
.addButton:focus,
.addButton:hover {
  padding: 0;
  outline: none;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 4;

  border: 2px solid #e89a96;
  background-color: #d0433c;
  color: white;
}

.addButton:hover {
  transform: rotate(1deg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.separator {
  width: 100%;
  border: 0;
  height: 0.5px;
  background-color: #c5c5c5;
}

.table {
  text-align: left;
  border-spacing: 0px 25px;
  color: #676767;
  width: 200px;
}

thead {
  background-color: #a9a9a9;
  border-radius: 5px;
  color: white;
  position: sticky;
  top: -1px;
}

th {
  padding: 10px;
  font-size: 10px;
  font-weight: 600;
}

th:first-child {
  border-radius: 5px 0 0 5px;
}

th:last-child {
  border-radius: 0 5px 5px 0;
}

.noUsersLabel {
  color: #676767;
  font-size: 12px;
}

.modalWrapper {
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.4), 0 2px 2px 0 rgba(0, 0, 0, 0.17),
    0 1px 5px 0 rgba(0, 0, 0, 0.15);
  padding: 15px 40px;
  text-align: left;
  color: #676767;
  font-size: 15px;
}

@media only screen and (min-width: 600px) {
  th {
    padding: 8px 12px;
    font-size: 12px;
  }

  .noUsersLabel {
    font-size: 16px;
  }

  .modalWrapper {
    width: 600px;
  }

  .table {
    width: 600px;
  }
}

@media only screen and (min-width: 992px) {
  th {
    padding: 20px;
    font-size: 15px;
  }

  .noUsersLabel {
    font-size: 20px;
    text-transform: initial;
  }

  .modalWrapper {
    width: 710px;
  }

  .table {
    width: 1000px;
  }
}
